html, body, #root {
  height: 100%;
}
h3 {
  color: #330A6D;
}
#root input {
  border-radius: 0;
  border: 1px solid #330A6D;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
  background: rgba(0,0,0,.03);
}
#root button {
  border-radius: 0;
}
#root button:hover {
  background: rgba(50, 10, 110, 0.5);
}
#root .signup {
  color: white;
  background: #330A6D;
}
#root .login {
  color: #330A6D;
  background: white;
  border: 1px solid #330A6D;
}
#root .login:hover {
  color: white;
  background: rgba(50, 10, 110, 0.5);
  border: 1px solid #330A6D;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  flex: 1;
  padding: 30px;
  background: #eee;
}
.form-modal {
  background: white;
  min-width: 350px;
  padding: 20px;
}
.form-container {
  max-width: 500px;
  display: block;
  background: #eee;
  padding: 20px;
  margin: auto;
  margin-top: 70px;
}
.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-around;
  background: rgba(0,0,0,.7);
}

#root .error {
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255, 0, 0, 0.7);
  color: red;
}
.error-label {
  margin-top: -15px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
#root .error::placeholder {
    color: rgba(255, 0, 0, 0.7);
    opacity: 1;
}
#root .error:-ms-input-placeholder {
    color: rgba(255, 0, 0, 0.7);
}
#root .error::-ms-input-placeholder {
    color: rgba(255, 0, 0, 0.7);
}
